<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<dom-module id="jug-avatar">
    <style>
        .component-wrapper {
            max-width: 128px;
            max-height: 128px;
            min-width: 128px;
            min-height: 128px;
            background-color: black;
            border-color: darkgrey;
            border-width: 2px;
            border-style: solid;
            border-radius: 50%;
            overflow: hidden;
        }
    </style>
    <template>
        <div class="component-wrapper">
            <img src="{{image}}">
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'jug-avatar',
        properties: {
            image: {
                type: String
            }
        }
    });
</script>
