<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="jug-form">
    <template>
        <paper-input label="Input label" value="{{name::input}}"></paper-input>
        <paper-input-container>
        	<input is="iron-input" maxlength="50" value="{{validateCharNo::input}}">
  			<paper-input-char-counter></paper-input-char-counter>
		</paper-input-container>

    </template>
</dom-module>

<script>
    Polymer({
                is: 'jug-form',
                properties: {
                    name: {
                        type: String,
                        value: "test"
                    },
                    validateCharNo: {
                        type: String,
                        value: "Only 50 chars allowed"
                    },

                }

            }
    );


</script>
