<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="jug-form">
    <template>
        <paper-input label="Input label" value="{{name::input}}"></paper-input>
        <paper-input-container>
        	<input is="iron-input" maxlength="50" value="{{validateCharNo::input}}">
  			<paper-input-char-counter></paper-input-char-counter>
		</paper-input-container>
    	<gold-email-input label="*Your email address" auto-validate required error-message="Please insert valid email."></gold-email-input>
		</br>
		<p>
		<paper-button raisedButton onclick="document.querySelector('#toast1').show()">Click me for a notification!</paper-button>
		<paper-toast id="toast1" visible = true duration="5000" text="Yeah, this is a notification. And I'll be around for 5 seconds."></paper-toast>
   		</p>
    </template>
</dom-module>

<script>
    Polymer({
                is: 'jug-form',
                properties: {
                    name: {
                        type: String,
                        value: "test"
                    },
                    validateCharNo: {
                        type: String,
                        value: "Only 50 chars allowed"
                    },

                }

            }
    );
</script>
